<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Document</title>
</head>
<body>
    <h1>Edit Homework: {{_id}}</h1>
    <form method="POST">
        <input name="title" type="text" value="{{title}}">
        <input type="submit" id="submit" value="Edit">
        <input type="reset" value="Clear all">
    </form>
    <a href="/homework"> Back to list</a>
</body>
</html>